<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Home page</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt 'This is the Home page!!!'}}</p>
    {{> footer}}
  </body>
</html>
